
body {
  font-family: Helvetica;
  text-align: center;
}


.header .section {

}

.masthead {
  background-image: url("../images/the-flatiron-building0.png");
  text-align: center;

}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;

}

#strapline_heading h2 {
  background-image: url("../images/the-flatiron-building0.png");
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#whiteheading {
  background-image: url();
  font-size: 23px;
  font-weight: bold;
  color: white;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}


#text_left {
  text-align: left;
}

footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}

footer ul li {
  list-style-type: none;
  display: inline;
}
